.searchbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.data-list {
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-size: 0;
    padding: 10px;
}