.data-title-container {
    width: 60rem;
    padding: 0;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.data-title-line {
    flex-grow: 1;
    min-height: 2px;
    display: inline-block;
    border: none;
    margin: 0;
    
    color: #000;
    background-color: #000;
    opacity: 1;
}

.data-title {
    margin: 0;
    text-align: center;
    padding: 0 10px;
    font-size: 20pt;
}

.data-display-block {
    width: 60rem;
}