.code-block {
    border-style: solid;
    border-color: #808080;
    border-radius: 7px;
    width: 60rem;
    padding: 0;
}

.code-header {
    display: flex;
    align-items: center;
}

.code-title {
    display: inline;
    margin: 10px;
}

.code-button-container {
    margin-left: auto;
}

.code-button {
    width: 30px;
    height: 30px;
    margin: 5px;

    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.code-button:focus {
    border-color: #adb5bd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #adb5bd;
}